<nav id="sidebar">
  <div id="logo"><img src="http://assets.getvero.com.s3.amazonaws.com/marketing-redesign/logo-blue.svg"></div>
  <ul>
    <li>API v2.0</li>
    <li>
      <ul>
        {% for api in site.data.sections.api %}
          {% assign category = api[0] %}
          <li><a href="#{{category}}">{{category | capitalize}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>ENDPOINTS</li>
    <li>
      <ul>
        {% for endpoint in site.data.sections.endpoints %}
          {% assign category = endpoint[0] %}
          <li>
            <a href="#{{category}}">{{category | capitalize}}</a>
            <ul>
              {% for section in endpoint[1] %}
                {% if section != 'base' %}
                <li><a href="#{{category}}-{{section}}">{{section | capitalize}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>